
.catalog {


  &__footer {

    &:hover {

    }
  }

  .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid #cbc0b1;
    border-radius: 5em;
    transition: all .3s ease-in-out;

    img {
      transition: all .3s ease-in-out;
    }

    &:hover {
      opacity: 0.8;


      img {
        transform: translateX(5px);
      }
    }
  }
}