
.menu-sticky {
  background: $c-black;
  position: fixed !important;
  top: -80px;
  right: 0;
  left: 0;
  border-radius: 0;
  justify-content: space-around;
  z-index: 10 !important;
  transition: all 0.3s !important;

  @media (max-width: 992px) and (min-width: 360px) {
    display: none;
  }
}

.menu-sticky-view {
  top: 0;
  transition: all 0.3s !important;
}

.menu-drop {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  background: #373334;
  margin: 0 auto;
  padding: 21px;
  left: 0;
  border-radius: 5em;

  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
}

.menu-box {

  @media (max-width: 992px) and (min-width: 360px) {
    display: none;
  }
}

.menu-mobile-box, .menu-sticky, .menu-box {
  position: relative;
  z-index: 1;

  .menu {
    position: relative;
    background: $c-black;
    border-radius: 5px;
    transition: all 0.3s !important;

    @media (max-width: 992px) and (min-width: 360px) {
      //display: none;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {

        a {

        }
      }
    }

    .box-search {
      position: absolute;
      left: 30px;
      visibility: visible;
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }

    .menu-search {
      border-radius: 5px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      outline: none;
      color: $c-black;
      width: 260px;
      border: 0;
    }

    .search-ico {
      cursor: pointer;
      position: absolute;
      left: 15px;
      padding-top: 1px;
    }

    .search-close {
      cursor: pointer;
      position: absolute;
      right: 15px;
      top: 3px;
      transition: all .3s ease-in-out;

      &:hover {
        color: $c-red;
      }
    }

  }

}

.menu-box-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #373334;
  z-index: 1;
  background: $c-black;
}

.menu-dropdown {
  position: relative;

}

// Submenu

.submenu {
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 10;
  background: #373334;
  width: 260px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
  padding: 15px;
}

.menu ul li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

.submenu a {
  position: relative;
  transition: all .3s ease-in-out;
}

.submenu a:hover {
  color: $c-white;
  text-decoration: none;
}

.submenu a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: $c-red;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.submenu a:hover::before {
  bottom: 1px;
  opacity: 1;
}

.menu-drop.view {
  visibility: visible;
  opacity: 1;
}

.menu-drop-hamburger {
  cursor: pointer;
  position: relative;
  z-index: 999;
}


// menu-mobile-box

.menu-mobile-box, .btn-mobile-menu {
  display: none;
}

@media (max-width: 992px) and (min-width: 360px) {
  .menu-mobile-box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 260px;
    height: 100vh;
    background: $c-black;
    z-index: 999;
    border-left: 1px solid #2d2a2b;
    transition: all .3s ease-in-out;


    .menu-mobile {


      .menu-dropdown:hover {

        .submenu {
          background: #2d2a2b;
          visibility: visible;
          opacity: 1;
        }
      }

      .submenu {
        top: 30px;
      }

      ul {
        padding: 0;
        list-style: none;
      }
    }
  }

  .mobile-close {
    position: absolute;
    top: 15px;
    left: -45px;
    border: 1px solid #2d2a2b;
    font-size: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #373334;
  }

  .substrate-menu-mobile {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(55, 51, 52, 0.90);
    z-index: 998;
    transition: all .3s ease-in-out;
    right: -100%;
  }


  .btn-mobile-menu {
    display: flex;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    background: #373334;
    color: $c-white;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 997;
  }

}


.visible-block {
  right: 0%;
}


// menu-mobile-box end