
//Color
$c-black: #373334;
$c-white: #fff;
$c-blue: #4087F2;
$c-red: #D74339;
$c-cream: #E8DCCC;


$f-rb: 'Roboto', sans-serif;
$f-ubuntu: 'Ubuntu', sans-serif;

// font-family: 'Roboto', sans-serif;
// font-family: 'Ubuntu', sans-serif;

@import 'blocks/header';
@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/m-p-grid';
@import 'blocks/main-slider';
@import 'blocks/footer';
@import 'blocks/menu';
@import 'blocks/link';
@import 'blocks/box-height';
@import 'blocks/calculate';
@import 'blocks/ui';
@import 'blocks/catalog';
@import 'blocks/contacts';
@import 'blocks/desc';


body {
    //font-family: $f-rb;
    background: $c-white;
    color: $c-black;
}

body::-webkit-scrollbar {
    width: 0.3em;
    background: rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb {
    background-color: $c-black;
    outline: white solid 1px;
}

body::-webkit-scrollbar-track {
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 6px inset;
}

::selection {
    background: $c-black;
    color: #fff;
}

#app {


    @media (max-width: 992px) and (min-width: 360px){
        position: relative;
    }
}
